</div>

  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">&copy; {{ site.title }}. Design: <a href="https://html5up.net">HTML5 UP</a>. Jekyll integration: <a href="https://n-jay.gitlab.io">Nuwan Jayawardene</a>.</p>
  </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/util.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/main.js' | absolute_url }}"></script>
